<div class="col-12 bg-white mt-2">
    <div class="row text-center py-2">
        <div class="col-6">
            <a href="/user/profile?ty=b">
                <span class=" text-d-us">Brand</span>
            </a>
        </div>
        <div class="col-6">
            <a href="/user/profile?ty=p">
                <span class="text-b py-2 border-b-b">Page</span>
            </a>
        </div>
    </div>
</div>
<!-- Profile Info -->
<div class="col-12 mt-3">
    <fieldset>
        <legend class="text-b">Page Info</legend>
        <form action="">
            <div class="row bg-white py-3">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_name">Page Name :</label>
                        <input type="text" name="page_name" class="form-control" placeholder="eg. xyz memes, ss music">
                        <small class="text-d-us">Using your Instagram Username is Recommended</small>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_type">Profile Type :</label>
                        <select name="profile_type" id="profile_type" class="form-control">
                            <option value="ig">Instagram Page</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_weight">Number of Followers / Subscribers :</label>
                        <input type="number" name="page_weight" class="form-control" placeholder="eg. 20000">
                    </div>
                </div>
                <div class="col-12">
                    <label for="about">Category ( You can choose more than one )</label><br>
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="meme" value="meme">
                            <label for="meme">Memes</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="clg" value="clg">
                            <label for="clg">College / School</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="music" value="music">
                            <label for="music">Music</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="indv" value='influencer'>
                            <label for="indv">Individual</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="ent" value='ent'>
                            <label for="indv">Entertainment</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="sport" value='sport'>
                            <label for="indv">Sports</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="blogger" value='blogger'>
                            <label for="indv">blogger</label>
                        </div>
                        <div class="col-6 col-lg-4">
                            <input type="checkbox" name="cat" id="art" value='art'>
                            <label for="indv">Artist</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="text-center">
                        <button class="btn bg-b text-w hv-w">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<!-- Promotion Info -->
<div class="col-12 mt-3">
    <fieldset>
        <legend class="text-b">Promotion Info</legend>
        <form action="">
            <div class="row bg-white py-2">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_name">Price for 1 Story :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-rupee-sign"></i></div>
                            </div>
                            <input type="number" class="form-control" name="story" id=story placeholder="eg. 100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_name">Price for 1 Post :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-rupee-sign"></i></div>
                            </div>
                            <input type="number" class="form-control" name="both" id="both" placeholder="eg. 100">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_name">Price for both Post and Story :</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-rupee-sign"></i></div>
                            </div>
                            <input type="number" class="form-control" name="post" id=story placeholder="eg. 100">
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="text-center">
                        <button class="btn bg-b text-w hv-w">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<!-- Payment Info -->
<div class="col-12 mt-3">
    <fieldset>
        <legend class="text-b">Payment Info</legend>
        <p class="text-d-us">For Receiving Payments</p>
        <form action="">
            <div class="row bg-white py-2">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="payment_type">Payment Type :</label>
                        <select name="payment_type" id="payment_type" class="form-control">
                            <option value="ig">Google Pay</option>
                            <option value="ig">PhonePe</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="profile_name">Linked Mobile Number :</label>
                        <input type="text" name="page_name" class="form-control" placeholder="eg. xyz memes, ss music">
                        <small class="text-d-us">We will send your Payment using this Number</small>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="text-center">
                        <button class="btn bg-b text-w hv-w">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>