<!-- Search Bar -->
<div class="col-12 py-3 ">
    <form class=" mx-4" >
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <a href="/user/list">
                    <i class="fas fa-search"></i> 
                </a>
            </div>
          </div>
        </div>
      </form> 
</div>
<!-- Menu -->
<div class="col-12 bg-white">
    <div class="row text-center py-2">
        <div class="col-4"><span class="text-b py-2 border-b-b">Top</span></div>
        <div class="col-4"><span class="text-d-us">Location</span></div>
        <div class="col-4"><span class="text-d-us">Recent</span></div>
    </div>
</div>