<nav class="navbar navbar-expand-lg navbar-dark bg-b">
    <a class="navbar-brand text-w" href="#">
        <i class="fas fa-star text-l"></i>
        <span class="ml-2 h5">Hylet</span>
    </a>
   <div class="d-lg-none mr-5">
       <a href="/b/add/create">
           <button class="btn btn-sm bg-o text-w ml-5">Create Add</button>
       </a>
   </div>
    
    
</nav>
<div class="navigation">
  <ul>
      <li>
          <a href="/user/home" class="hv-w">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="title">Home</span>
          </a>
      </li>
      <li>
        <a href="/user/profile?ty=p" class="hv-w">
            <span class="icon"><i class="fas fa-user"></i></span>
            <span class="title">Profile</span>
        </a>
      </li>
      <li>
          <a href="/logout" class="hv-w">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span class="title">Logout</span>
          </a>
      </li>
  </ul>
</div>

<div class="toggle" onclick="toggleMenu()">
<span class="icon"><i class="fas fa-bars text-w"></i></span>
</div>
<div class="content mb-5">