<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <!-- Add List -->
        <div class="col-12 mt-3">
            <div class="px-2 py-3 bg-white">
                <div class="row">
                    <div class="col-12">
                        <img src="/img/hylet_png.png" alt="" class="img-brand-logo">
                        <span class="text-b h5 ml-2">Hylet</span><br>
                    </div>
                    <div class="col-12 col-lg-8 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-0 h6">Hylet App Launch</p>
                                <small class="text-d-us">1/12/21</small>
                            </div>
                            <div class="col-6">
                                <span class="px-1 py-2 rounded border-y border text-b hv-y">Yet to Start</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 mt-2">
                        Promoted in : <span class="text-o">4</span> Pages <br>
                        <small class="text-d-us">Expires is 1 day</small>
                        <div class="text-center mt-2">
                            <a href="/b/add/view">
                                <button class="btn bg-y text-w hv-w">View</button>
                            </a>
                            <a href="/user/payment">
                                <button class="btn bg-b text-w hv-w ml-4">Start</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="px-2 py-3 bg-white">
                <div class="row">
                    <div class="col-12">
                        <img src="/img/hylet_png.png" alt="" class="img-brand-logo">
                        <span class="text-b h5 ml-2">Hylet</span><br>
                    </div>
                    <div class="col-12 col-lg-8 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-0 h6">New Push Feature</p>
                                <small class="text-d-us">1/12/21</small>
                            </div>
                            <div class="col-6">
                                <span class="px-1 py-2 rounded border border text-y hv-y">Being Promoted</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 mt-2">
                        Promoted in : <span class="text-o">2</span> Pages <br>
                        <small class="text-d-us">Expired on 22/2/21</small>
                        <div class="text-center mt-2">
                            <button class="btn bg-y text-w hv-w">View</button>
                            <button class="btn bg-b text-w hv-w ml-4">End</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="px-2 py-3 bg-white">
                <div class="row">
                    <div class="col-12">
                        <img src="/img/hylet_png.png" alt="" class="img-brand-logo">
                        <span class="text-b h5 ml-2">Hylet</span><br>
                    </div>
                    <div class="col-12 col-lg-8 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-0 h6">New Push Feature</p>
                                <small class="text-d-us">1/12/21</small>
                            </div>
                            <div class="col-6">
                                <span class="px-1 py-2 rounded border-y border text-o hv-y">Promotion Ended</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 mt-2">
                        Promoted in : <span class="text-o">2</span> Pages <br>
                        <small class="text-d-us">Expired on 22/2/21</small>
                        <div class="text-center mt-2">
                            <button class="btn bg-y text-w hv-w">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<%- include("partials/footer") %>