<%- include("partials/authHeader") %>
<div class="h4 mt-4 text-o text-center">S i g n u p</div>             
<form  class="mt-3" method="POST" action="/signup">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text text-o"><i class="fas fa-envelope"></i></div>
        </div>
        <input type="email" name="username" id="username" placeholder="Email" class="form-control" required>
    </div>
    <div class="input-group mt-4">
        <div class="input-group-prepend">
            <div class="input-group-text text-o"><i class="fas fa-key"></i></div>
        </div>
        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required minlength="6" >
    </div>
    <div class="text-center mt-4">
        <button class="btn bg-b text-w hv-l">Signup</button>
    </div>
    <% if(msg) { %>
      <div class="text-center mt-2 text-danger">
        <p>A User with given Email exists</p>
      </div>
      <% } %>
    <div class="mt-3 text-center">
        <hr>
        Already have an Account ? <a href="/login" >Login</a><br>
    </div>
</form>
<%- include("partials/authFooter") %>