<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <!-- Add List -->
        <div class="col-12 mt-4">
            <h5>Create New Add</h5>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="px-2 py-3 bg-white rounded">
                        <!-- FORM -->
                        <form action="">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="add_name">Add Name</label>
                                        <input type="text" name="add_name" id="add_name" placeholder="eg. XYZ startup launch " class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="add_type">Type</label>
                                        <select name="add_type" id="add_type" class="form-control">
                                            <option value="in">Instagram</option>
                                        </select>       
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="add_desc">Caption</label><br>
                                        <small class="text-d-us">The Caption you put here will be used as Post Caption.So make sure to include @mentions and #tag (if any) </small>
                                        <textarea name="add_desc" id="add_desc" cols="30" rows="5" class="form-control" maxlength="100"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="weblink">Website or Video link (if any)</label>
                                        <input type="text" class="form-control" name="weblink" id="weblink" placeholder="eg. https://hylet.in">
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="">Upload Image / Poster (if any)</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" size="1">
                                        <label class="custom-file-label" for="customFile" >Choose file</label>
                                    </div>
                                </div>
                                <script>
                                    $(".custom-file-input").on("change", function() {
                                      var fileName = $(this).val().split("\\").pop();
                                      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>
                                <div class="col-12">
                                    <div class="text-center mt-3">
                                        <img id="outImage"  class="img-preview d-none">
                                    </div>
                                </div>
                                <script>
                                    document.getElementById('customFile').onchange = function (evt) {
                                        var tgt = evt.target || window.event.srcElement,
                                        files = tgt.files;
                                        // FileReader support
                                        if (FileReader && files && files.length) {
                                            var fr = new FileReader();
                                            fr.onload = function () {
                                                document.getElementById("outImage").src = fr.result;
                                                document.getElementById("outImage").classList.remove('d-none');
                                            }
                                            fr.readAsDataURL(files[0]);
                                            console.log("supported");
                                        }
                                        else {
                                            console.log("no support");
                                        }
                                    }
                                </script>
                                <div class="col-12 mt-3">
                                    <div class="text-center">
                                        <button class="btn bg-b text-w mr-3 hv-w" data-toggle="modal" data-target="#exampleModal" type="button">Preview Add</button>
                                        <button class="btn bg-y text-w hv-w">Create Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 bg-white py-3 rounded mt-3">
                    <img src="http://cdn.livekindly.co/wp-content/uploads/2019/11/vegan-plant-based-news-vegan-burger-king-livekindly-Cropped-1.jpg" alt="img" class="img-add"> 
                    <div class="brand-info mt-3">
                         <h6 class="text-y">Whopper</h6>
                         <p>Some desciption about the add goes here</p>
                         <p></p>
                         <button class="btn bg-b text-w">Visit Site</button>
                         <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                     </div>
                 </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer") %>