<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <div class="col-12 mt-4">
            <div class="row mt-2">
                <div class="col-4 col-lg-4">
                    <img src="/img/hylet_png.png" alt="" class="img-list-icon">
                </div>
                <div class="col-8 col-lg-8">
                    <div class="py-2">
                        <p class="text-b m-0">Mokka_Engineer <i class="fas fa-check-circle"></i></p>
                        <small class="text-d-s">Followers : 233k</small>
                        <p></p>
                        <p class="m-0">Post + Story :  <strong class="text-o"><i class="fas fa-rupee-sign"></i> 200</strong> </p>
                        <button class="btn bg-y text-w mt-2">View Profile</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>        
    </div>
</div>
<%- include("partials/footer") %>