<%- include("partials/authHeader") %>
<div class="h4 mt-3 text-o">Email Verification</div>             
<p class="text-b">Needed For Account Recovery</p>
<form class="mt-4" method="POST" action="/verifyEmail">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text text-o"><i class="fas fa-key"></i></div>
        </div>
        <input type="number" name="code" id="code" placeholder="Enter Verification Code" class="form-control" required>
    </div>
    <div class="text-center">
      <%if(msg){%>
        <small class="text-o mt-3"><%=msg%></small>
      <%}%>
    </div>
    <div class="text-center mt-4">
        <button class="btn bg-b text-w hv-l">Verify Code</button>
    </div>
</form>
<%- include("partials/authFooter") %>