<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%if(type=='page_info'){%> 
            <%- include("profile/page/page_info") %>  
        <% }%>  
    </div>
</div>
<%- include("partials/footer") %>
