<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container-fluid">
    <div class="row">
        <%- include("partials/menu") %>
        <div class="col-12 mt-2">
            <div class="row">
                <div class=" col-12 mt-2">
                    <div class="px-2">
                        <p></p>
                        <span class="text-b h5"><strong>Mokka_Engineer</strong> <i class="fas fa-check-circle"></i></span>
                        <div class="link mt-2">
                            For verifying page, click  
                            <a href="https://www.instagram.com/mokkaengineer/" class="text-y" target="_NEW">
                                here
                            </a>
                        </div>
                        <p></p>
                        <a href="/user/view">
                            <button class="btn bg-y text-w hv-w">Promotion and Pricing</button><br>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Currently Promoted -->
        <div class="col-12 mt-3">
            <div class="px-2">
                <h5 class="text-b">Currently Promoted</h5>
                <div class="row">
                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                       <img src="http://cdn.livekindly.co/wp-content/uploads/2019/11/vegan-plant-based-news-vegan-burger-king-livekindly-Cropped-1.jpg" alt="img" class="img-add"> 
                       <div class="brand-info mt-3">
                            <h6 class="text-y">Whopper</h6>
                            <p>Some desciption about the add goes here</p>
                            <p></p>
                            <button class="btn bg-b text-w">Visit Site</button>
                            <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                        <img src="https://www.mediabrief.com/wp-content/uploads/2020/07/Image-Mondelez-India-adds-Cadbury-Choclairs-Gold-Coffee-to-its-Cadabury-line-MediaBrief.jpg" alt="img" class="img-add"> 
                        <div class="brand-info mt-3">
                             <h6 class="text-y">Whopper</h6>
                             <p>Some desciption about the add goes here</p>
                             <p></p>
                             <button class="btn bg-b text-w">Visit Site</button>
                             <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                         </div>
                     </div>
                     <div class="col-12 col-lg-4 bg-white py-3 rounded mt-3">
                        <img src="/img/hylet_png.png" alt="img" class="img-add"> 
                        <div class="brand-info mt-3">
                             <h6 class="text-y">Whopper</h6>
                             <p>Some desciption about the add goes here</p>
                             <p></p>
                             <button class="btn bg-b text-w">Visit Site</button>
                             <button class="btn bg-b text-w hv-w float-right"><i class="fab fa-instagram"></i> Profile</button>
                         </div>
                     </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<%- include("partials/footer") %>