*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color:#eee;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.navigation:hover,
.navigation.active{
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation ul{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}
.navigation ul li:hover{
    color: white;
    background-color: #4ABDAC;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:  #555555;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    font-size: 36px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.content{
    transition: 0.5s;
    margin-left: 200px;
}

.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: #4ABDAC;
    cursor: pointer;
}


.toggle .icon{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top:16px;
}

.toggle:before{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #4ABDAC;
}

@media(max-width:767px){
    .navigation{
        left:-200px;
    }
    .navigation.active{
        left: 0px;
        width: 50%;
    }
    .content{
        margin-left: 0px;
    }

}