*{
    margin: 0%;
    padding: 0%;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
    color: #333333;
}

.img-icon{
    height: 120px;
    border-radius: 8px;
}

.img-list-icon{
    height: 150px;
    width: inherit;
    border-radius: 8px;
}

.img-rounded{
    border-radius: 50px;
    height: 80px;
    width: 80px;
}
.img-add{
    height: 200px;
    width: inherit;
}

.logo{
    height: 120px;
    width: 220px;
}